{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h3 style="margin-left: 3rem">Create New Trail Record Here:</h3>
<div class="container">
<form name='form' method='post' action="{%url 'create' %}">
    {% csrf_token %}
    <!-- make this hidden or don't include lol
    <label for='trail_id'>Trail ID:</label>
    <input type='text' name='trail_id' id='trail_id' autofocus> 
    <br><br>
     end hidden id -->
    
    <label for='trail_name'>Trail Name:</label><br>
    <input type='text' name='trail_name' id='trail_name'>
    <br><br>

    <label for='length_miles'>Length in Miles:</label><br>
    <input type='text' name='length_miles' id='length_miles'>
    <br><br>

    <label for='difficulty'>Difficulty:</label><br>
    <input type='text' name='difficulty' id='difficulty'>
    <br><br>

    <label for='completion_time'>Completion Time:</label><br>
    <input type='text' name='completion_time' id='completion_time'>
    <br><br>

    <label for='description'>Description:</label><br>
    <textarea type='text' name='description' id='description'></textarea>
    <br><br>

    <label for='location'>Location:</label><br>
    <input type='text' name='location' id='location'>
    <br><br>

    <button class="btn btn-primary" type='submit'>Add</button>
    <br><br>
</div>
</form>

{% endblock %}