{% extends 'base.html'%}
{% load static %}
{% block content %}
{% load static %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/img/heroimagehikers.jpg'%}" alt="Background image" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper" style="color: #212529">Hiking</span>
                    <span class="section-heading-lower" style="color: #212529">So fun to do!</span>
                </h2>
                <p class="mb-3" style="color: #212529">Utah is home to many scenic Hikes. Trails vary in length, elevation and skill level </p>
                <p class="mb-3"></p>
                <div class="intro-button mx-auto" style="color: #212529"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper" style="color: #212529">Our Promise</span>
                        <span class="section-heading-lower" style="color: #212529">To You</span>
                    </h2>
                    <p class="mb-0" style="color: #212529">Utah! People working together
                        Utah! What a great place to be.
                        Blessed from Heaven above.
                        It's the land that we love.
                        This is the place!
                        
                        Utah! With its mountains and valleys.
                        Utah! With its canyons and streams.
                        You can go anywhere.
                        But there's none that compare.
                        This is the place!
                        
                        It was Brigham Young who led the pioneers across the plains.
                        They suffered with the trials they had to face.
                        With faith they kept on going till they reached the Great Salt Lake
                        Here they heard the words..."THIS IS THE PLACE!"
                        
                        Utah! With its focus on family,
                        Utah! Helps each child to succeed.
                        People care how they live.
                        Each has so much to give.
                        This is the place!
                        
                        Utah! Getting bigger and better.
                        Utah! Always leading the way.
                        New technology's here...
                        Growing faster each year.
                        This is the place!
                        
                        There is beauty in the snow-capped mountains, in the lakes and streams.
                        There are valleys filled with farms and orchards too.
                        The spirit of its people shows in everything they do.
                        Utah is the place where dreams come true.
                        
                        Utah! With its pioneer spirit.
                        Utah! What a great legacy!
                        Blessed from Heaven above.
                        It's the land that we love.
                        This is the place
                        
                        Utah! Utah! Utah!
                        THIS IS THE PLACE!
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}